body{
    font-family: 'Slabo 27px', serif;
    overflow-x: hidden;
}

.border-flex{
    border: 2px solid red;
}

.jumbotron {
    height: 500px;
    background-image: url("img/surf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }


  .btn{
      font-size: 15px;
  }

  .btntop{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .icons{
      font-size: 120px;
  }

  p{
      text-align: left;
      font-family: 'PT Serif', serif;  
  } 

  .container-fluid{
      display: flex;
      flex-direction: row;
  }

  .container-custom{
      display: flex;
      flex-direction: row;
      justify-content: center;

  }

  .row{
    padding-top: 20px;
  }